* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #271b1b;
}

body {
    font-family: 'Roboto', sans-serif;
}

header h1,
section h2.titulo {
    font-weight: normal;
    color: #1f1fb8;
}

header,
section h2.titulo {
    font-family: 'Bungee', cursive;
    color: #1f1fb8;

}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    color: aliceblue;
    font-size: 24px;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container-c {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    align-items: flex-start;
    background-color: #2e2020;
}

body {
    background: #808080;
}

div .letra-M {
    color: rgb(255, 255, 255);
}

div .titulo {
    color: rgb(255, 255, 255);
}

section img {
    margin-right: 16px;
}

footer {
    background-color: #271b1b;
    padding: 8px 0;
}

div p {
    color: aliceblue;
    text-align: center;
}
